.adv-class{
    width: 100%;
    height: 100px;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
    direction: ltr;
    left: 0;
    right: 0;
    display: block;
}

.adv-img-class {
    object-fit: cover;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1%;
    margin-left: 2%;
}